
<div class="container mt-5">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-6">

      <div class="row">
        <div class="col-6">
          <h4 class="h4 fw-bold">Upload planet imagery</h4>
        </div>
        <div class="col-6  ms-auto">
          <h5 class="h5 text-end fw-bold">Step 2 of 2</h5>
        </div>
      </div>

      <div class="form-section">
        <form class="row g-3">
          <div class="col-12">
            <p>Upload images of the planet in any of these formats: jpg, png, bmp. /n You can upload a minimum of 1 image and maximum of 5.</p>
          </div>
          <div class="col-12">
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="inputGroupFile02">
              <label class="input-group-text" for="inputGroupFile02">+ Add Image</label>
            </div>
          </div>

        </form>
        <div class="row mt-4 ">
          <div class="col-md-6">
            <button type="submit" class="btn btn-outline-dark rounded-1"> < Back</button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-dark rounded-1 float-end" awNextStep>Continue</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-4 d-md-block d-none">
      <img src="assets/img/planet-space-image.jpg" alt="" class="img-fluid" style="border-radius: 30px;">
    </div>
  </div>
</div>
