<app-search></app-search>

<div class="container">
        <div class="d-flex align-items-center justify-content-between mt-4 mb-3">
          <div class="fs-16 fw-medium  text-muted">
            Total records : 34
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered">
            <thead class="fs-12">
            <tr>
              <th scope="col">S/N</th>
              <th scope="col">Actor</th>
              <th scope="col">Activity</th>
              <th scope="col">Status</th>
              <th scope="col">IP Address</th>
              <th scope="col">Discription</th>
              <th scope="col">Timestamp</th>
            </tr>
            </thead>
            <tbody class="fs-12">
            <tr>
              <td>1</td>
              <td>FAB60 Sim Registration Device</td>
              <td>0001</td>
              <td>MTN-01234</td>
              <td>1234567890987654</td>
              <td>Ikoyi Reserve Center</td>
              <td>B2B Lagos</td>

            </tr>
            <tr>
              <td>2</td>
              <td>FAB60 Sim Registration Device</td>
              <td>0001</td>
              <td>MTN-01234</td>
              <td>1234567890987654</td>
              <td>Ikoyi Reserve Center</td>
              <td>B2B Lagos</td>
            </tr>
            </tbody>
          </table>
        </div>

</div>
