<app-search></app-search>

<div class="container mt-5 mb-5">
<div class="row">
    <div class="col-md-3">
        <h5 class="h5 fw-bold">Your planet database</h5>
        <p class="p">Here are planets you have created on this platform</p>
        <div class="d-grid gap-2 d-md-block  my-3">
  <button class="btn btn-dark rounded-1" awNextStep>Create a new planet entry</button>
        </div>
    </div>
    <div class="col-md">

      <div class="card planet-display-card border-1 rounded-3 p-2 my-2 pointer" routerLink="/description">
  <div class="row">
    <div class="col-auto"><img src="assets/img/planets/earth.jfif" class="planet img-fluid" alt="planet Earth"></div>
    <div class="col">
        <div class="row">
          <h6 class="h6 fw-bold">Earth</h6>
        </div>
        <div class="row"><p class="small">Jupiter has a long history of surprising scientists – all the way back to 1610 when Galileo Galilei found the first moons beyond Earth. That discovery changed the way we see the universeVS...</p></div>
        <div class="row">
          <div class="col-auto"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-calendar-week"></i> 23/10/2015</span></div>
          <div class="col"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-calendar-week"></i> 23/10/2015</span></div>
        </div>
      </div>
  </div>
    </div>
          <div class="card planet-display-card border-1 rounded-3 p-2 my-2">
  <div class="row">
    <div class="col-auto"><img src="assets/img/planets/gaia.jpg" class="planet img-fluid" alt="planet Gaia"></div>
    <div class="col">
        <div class="row">
          <h6 class="h6 fw-bold">Pluto</h6>
        </div>
        <div class="row"><p class="small">Jupiter has a long history of surprising scientists – all the way back to 1610 when Galileo Galilei found the first moons beyond Earth. That discovery changed the way we see the universeVS...</p></div>
        <div class="row">
          <div class="col-auto"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-calendar-week"></i> 23/10/2015</span></div>
          <div class="col"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-calendar-week"></i> 23/10/2015</span></div>
        </div>
      </div>
  </div>
    </div>
              <div class="card planet-display-card border-1 rounded-3 p-2 my-2">
  <div class="row">
    <div class="col-auto"><img src="assets/img/planets/giant.jpg" class="planet img-fluid" alt="planet Gaia"></div>
    <div class="col">
        <div class="row">
          <h6 class="h6 fw-bold">GJ 504b</h6>
        </div>
        <div class="row"><p class="small">Jupiter has a long history of surprising scientists – all the way back to 1610 when Galileo Galilei found the first moons beyond Earth. That discovery changed the way we see the universeVS...</p></div>
        <div class="row">
          <div class="col-auto"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-calendar-week"></i> 23/10/2015</span></div>
          <div class="col"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-calendar-week"></i> 23/10/2015</span></div>
        </div>
      </div>
  </div>
    </div>
              <div class="card planet-display-card border-1 rounded-3 p-2 my-2">
  <div class="row">
    <div class="col-auto"><img src="assets/img/planets/pnas.jpg" class="planet img-fluid" alt="planet Gaia"></div>
    <div class="col">
        <div class="row">
          <h6 class="h6 fw-bold">Neptune</h6>
        </div>
        <div class="row"><p class="small">Jupiter has a long history of surprising scientists – all the way back to 1610 when Galileo Galilei found the first moons beyond Earth. That discovery changed the way we see the universeVS...</p></div>
        <div class="row">
          <div class="col-auto"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-calendar-week"></i> 23/10/2015</span></div>
          <div class="col"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-calendar-week"></i> 23/10/2015</span></div>
        </div>
      </div>
  </div>
    </div>
              <div class="card planet-display-card border-1 rounded-3 p-2 my-2">
  <div class="row">
    <div class="col-auto"><img src="assets/img/planets/science-fiction-scene.jpg" class="planet img-fluid" alt="planet Gaia"></div>
    <div class="col">
        <div class="row">
          <h6 class="h6 fw-bold">Space Ship</h6>
        </div>
        <div class="row"><p class="small">Jupiter has a long history of surprising scientists – all the way back to 1610 when Galileo Galilei found the first moons beyond Earth. That discovery changed the way we see the universeVS...</p></div>
        <div class="row">
          <div class="col-auto"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-calendar-week"></i> 23/10/2015</span></div>
          <div class="col"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-calendar-week"></i> 23/10/2015</span></div>
        </div>
      </div>
  </div>
    </div>
  </div>
</div>
</div>
