<app-search></app-search>

<div class="container mt-5">
<div class="row">
    <div class="col-md-3">
        <h5 class="h5 fw-bold">Your planet database</h5>
        <p class="p">Here are planets you have created on this platform</p>
        <div class="d-grid gap-2 d-md-block  my-3">
  <button class="btn btn-dark rounded-1" awNextStep>Create a new planet entry</button>
        </div>
    </div>
    <div class="col-md"><div class="card planet-display-card rounded-3 p-5">
        <div class="card-body p-3"><span class="iconify dac-icon me-2" data-width="30" data-icon="tabler:truck-delivery"></span></div>
    </div></div>
</div>
</div>
