<div class="container">
<div class="card preview-card">
    <div class="card-body">
        <h5 class="my-3 fw-bold mb-5">Please review your entry</h5>
        <div class="row mb-0">
            <div class="col"><Small>Planet Information</Small> </div>
            <div class="col text-end fw-bold">Edit</div>
        </div>
        <div class="card shadow-sm border-0 my-3">
            <div class="card-body">
                <div class="row my-2">
                    <div class="col-md">
                       <p>Name of Planet</p>
                        <p class="fw-bold">Name of Planet</p>
                    </div>
                    <div class="col-md">
                                               <p>Galaxy</p>
                        <p class="fw-bold">Andromeda</p>
                    </div>
                </div>
              <div class="row my-3">
                <div class="col-md">
                  <p>Email Address (of Discoverer)</p>
                  <p class="fw-bold">folamide@gmail.com</p>
                </div>
                <div class="col-md">
                  <p>Phone Number(for Discoverer)</p>
                  <p class="fw-bold">+2347891245678</p>
                </div>
              </div>
            </div>
        </div>
      <div class="row mb-0 mt-5">
        <div class="col"><Small>Images and Supporting Documents</Small> </div>
        <div class="col text-end fw-bold">Edit</div>
      </div>
        <div class="images">
            <div class="card my-2">
                <div class="row">
                    <div class="col-auto p-2 px-3"><img src="assets/img/Group 3.svg" alt="" style="max-width: 200px"></div>
                    <div class="col p-1">
                      <p>Planet_imagery_pluto.jpg</p>
                      <small>234kb</small>
                    </div>
                </div>
            </div>
          <div class="card my-2">
            <div class="row">
              <div class="col-auto p-2 px-3"><img src="assets/img/Group 3.svg" alt="" style="max-width: 200px"></div>
              <div class="col p-1">
                <p>Planet_imagery_pluto.jpg</p>
                <small>234kb</small>
              </div>
            </div>
          </div>
        </div>
      <div class="mt-5">
        <button class="btn btn-dark float-end rounded-1">Submit application</button>
      </div>
    </div>

</div>
</div>
