<div class="container mt-5">

<div class="row align-items-center justify-content-center">
    <div class="col-md order-2 order-md-1 ">
        <h1  class="h1 fw-bold title mb-2">Welcome to Planets 2.0</h1>
        <p>Apply for jobs here to take you to the next step in your career. It only takes few seconds!</p>
        <button class="btn btn-dark rounded-1 mb-2">Sign In to continue</button>
        <p class="reference">A product of Byteworks Technology Solution Limited</p>
    </div>
    <div class="col-md order-1 order-md-2">
        <img src="./assets/img/landingPageSvg.svg" class="img-fluid d-md-block d-none" alt="">
    </div>
</div>
</div>
