<div class="container mt-5 mb-5">
<div class="row">
    <div class="col-md-3">
 <div class="col-auto"><img src="assets/img/planets/earth.jfif" class="w-100 p-display img-fluid" alt="planet Earth"></div>
 <div class="row p-2">
    <div class="col"><img src="assets/img/planets/earth.jfif" class="w-100 img-fluid" alt="planet Earth"></div>
    <div class="col"><img src="assets/img/planets/earth.jfif" class="w-100 img-fluid" alt="planet Earth"></div>
    <div class="col"><img src="assets/img/planets/earth.jfif" class="w-100 img-fluid" alt="planet Earth"></div>
     <div class="col"><img src="assets/img/planets/earth.jfif" class="w-100 img-fluid" alt="planet Earth"></div>
</div>
    </div>
    <div class="col-md">

      <div class="card planet-display-card border-1 rounded-3 p-2 my-2">
  <div class="row">
    <div class="col">
        <div class="row mb-2">
          <h6 class="h6 fw-bold">Earth</h6>
        </div>
        <div class="row g-2 mb-4">
          <div class="col-auto"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-calendar-week"></i> 23/10/2015</span></div>
          <div class="col"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-calendar-week"></i> 23/10/2015</span></div>
        </div>
        <div class="row"><p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste debitis repellat non repellendus nulla porro sequi officia delectus perspiciatis distinctio quas, omnis veritatis itaque maxime quod voluptas in totam. Ut, ipsum unde accusantium dolores fugiat eos exercitationem delectus quam aliquid sint doloremque, officiis culpa explicabo ea commodi, numquam molestias inventore vero nemo natus facilis. Blanditiis tenetur quaerat distinctio, fuga quo ad consequuntur unde accusantium quia veniam. Unde accusantium architecto, ducimus nam doloremque cupiditate voluptas, facilis ut excepturi repellendus, alias odio consequatur facere amet sunt rem? Soluta rem, quisquam, unde aut, possimus itaque quas provident fuga illo perferendis a deserunt distinctio..</p></div>
        <div class="row mb-2">
          <h6 class="h6 fw-bold">Contact Discoverer</h6>
        </div>
        <div class="row g-2">
          <div class="col-auto"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-telephone"></i> +234 8060761800</span></div>
          <div class="col"><span class="btn btn-sm rounded-pill btn-light px-3"><i class="bi bi-envelope"></i> someone@email.com</span></div>
        </div>

                <div class="row g-2 mt-5">
          <div class="col"><button class="btn btn-danger">Delete</button></div>
          <div class="col"><button class="btn btn-dark float-end">Manage details</button></div>
        </div>
      </div>
  </div>
    </div>
  </div>
</div>
</div>
