
<div class="container">
<form action="#" class="form">
    <div class="input-wrapper">
        <p>Job Title</p>
        <input type="text" name="" id="" placeholder="Enter Job Title">
    </div>
    <div class="input-wrapper">
        <p>Company Name</p>
        <input type="text" name="" id="" placeholder="Enter Company Name">
    </div>
    <div class="input-wrapper">
        <p>Location</p>
        <input type="text" name="" id="" placeholder="Enter Location">
    </div>
    <div class="input-wrapper dropdown">
        <p>Employment Type</p>
        <input type="text" name="" id="" placeholder="Select Employment Type">
        <img src="./assets/img/dropdown.svg" alt="" onclick="cardToggle()">
        <div class="employment-type-card" id="employment-type-card" style="display: none;">
            <p>Full-time</p>
            <p>Part-time</p>
            <p>Contract</p>
        </div>
    </div>
    <div class="input-wrapper">
        <p>Date Posted</p>
        <input type="text" name="" id="" placeholder="dd/mmm/yy">
        <img src="./assets/img/fluent_calendar-ltr-24-regular.svg" alt="">
    </div>
    <div class="button-wrap">
        <button type="submit"><img src="./assets/img/Search.svg" alt=""> Search</button>
    </div>
</form>
</div>