
<div class="container mt-5">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6">

        <div class="row">
<div class="col-6">
    <h4 class="h4 fw-bold">Enter planet details</h4>
</div>
<div class="col-6  ms-auto">
   <h5 class="h5 text-end fw-bold">Step 1of 2</h5>
</div>
    </div>

    <div class="form-section">
        <form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Name of Planet <span class="text-danger">*</span></label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputState" class="form-label">Galaxy <span class="text-danger">*</span></label>
    <select id="inputState" class="form-select">
      <option selected>Select Galaxy...</option>
      <option>Planet 1</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Phone Number of Discoverer  <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Enter phone number">
  </div>
  <div class="col-md-6">
    <label for="inputAddress2" class="form-label">Email Address of Discoverer  <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Enter Email Address">
  </div>
<div class="col-12">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Enter planet description"></textarea>
</div>

</form>
<div class="row mt-4 ">
  <div class="col-md-6">
    <button type="submit" class="btn btn-outline-dark rounded-1">Cancel</button>
  </div>
    <div class="col-md-6">
    <button type="submit" class="btn btn-dark rounded-1 float-end">Continue</button>
  </div>
</div>
    </div>     
      </div>
      <div class="col-md-6 p-4 d-md-block d-none">
        <img src="assets/img/planet-space-image.jpg" alt="" class="img-fluid" style="border-radius: 30px;">
      </div>
</div>
</div>
